<div class="component-container" style="background-color: orange">
    <div class="container-fluid col">
        <div class="row align-items-center">
            <div class="col hidden-sm-down"></div>
            <div class="col-12 col-md-4">
                <div class="card" style="margin-top: 1.25rem">
                    <div class="card-header">
                        Password vergessen
                    </div>
                    <div class="card-block">
                        <form #forgotPasswordForm="ngForm" (ngSubmit)="onResetPassword(forgotPasswordForm.valid)">
                            <div fxLayout="column">
                                <div fxLayout="column" style="margin-top: 8px" class="form-group">
                                    <label style="margin-bottom: 0" for="forgotPasswordEmail">E-Mail:</label>
                                    <input id="forgotPasswordEmail" name="registerEmail"
                                           [(ngModel)]="forgotPasswordCredentials.email"
                                           #forgotPasswordEmail="ngModel"
                                           class="form-control" type="email" required
                                           pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                                    <small style="margin-left: 4px"
                                           *ngIf="forgotPasswordEmail.errors && ((forgotPasswordEmail.dirty || forgotPasswordEmail.touched) || forgotPasswordForm.submitted)"
                                           class="text-danger">
                                        <small *ngIf="forgotPasswordEmail.errors.required">Erforderlich</small>
                                        <small *ngIf="forgotPasswordEmail.errors.pattern">Keine gültige E-Mailadresse
                                        </small>
                                    </small>
                                </div>
                                <div class="text-right">
                                    <button style="margin-left: 16px" type="submit"
                                            class="btn btn-sm btn-outline-primary">
                                        Neues anfordern
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col hidden-sm-down"></div>
        </div>
    </div>
</div>