<div class="card" style="margin-top: 1.25rem">
    <div class="card-block">
        <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.valid)">
            <div>
                <div style="margin-top: 8px" class="form-group">
                    <label style="margin-bottom: 0" for="loginEmail">E-Mail:</label>
                    <input id="loginEmail" name="loginEmail"
                           [(ngModel)]="loginCredentials.email"
                           #loginEmail="ngModel"
                           class="form-control" type="email" required
                           pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                    <small style="margin-left: 4px"
                           *ngIf="loginEmail.errors && ((loginEmail.dirty || loginEmail.touched) || loginForm.submitted)"
                           class="text-danger">
                        <small *ngIf="loginEmail.errors.required">Erforderlich</small>
                        <small *ngIf="loginEmail.errors.pattern">Keine gültige E-Mailadresse
                        </small>
                    </small>
                </div>
                <div style="margin-top: 8px" class="form-group">
                    <label style="margin-bottom: 0" for="loginPassword">Passwort:</label>
                    <input id="loginPassword" name="loginPassword" #loginPassword="ngModel"
                           [(ngModel)]="loginCredentials.password"
                           class="form-control" type="password" required>
                    <small style="margin-left: 4px"
                           *ngIf="loginPassword.errors && ((loginPassword.dirty || loginPassword.touched) || loginForm.submitted)"
                           class="text-danger">
                        <small *ngIf="loginPassword.errors.required">Erforderlich</small>
                    </small>
                </div>
                <div class="text-right">
                    <!-- <button class="btn btn-sm btn-outline-primary">Forgot Password</button>-->
                    <button type="submit"
                            class="btn btn-sm btn-outline-primary">
                        Login
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer text-center">
        <a routerLink="/reset" routerLinkActive="active">Passwort vergessen?</a>
    </div>
</div>