.side-bar {

    overflow: auto;
    background-color: gray;
    position: fixed;
    top: 108px;
    width: 300px;
    height: 100%;
    color: #e1ffff;
    left: -300px;
    transition: all linear 0.5s;
}

.side-bar.show {
    left: 0;
}

.search {
    height: 38px;
    width: 38px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}

.search-bar {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.round-button {
    display: block;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    background-color: gray;
    position: absolute;
    bottom: 32px;
    right: 32px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    outline: none;
}

.bottom-shadow {
    box-shadow: 0 1px 0 rgba(12, 13, 14, 0.1), 0 1px 3px rgba(12, 13, 14, 0.1), 0 4px 20px rgba(12, 13, 14, 0.035), 0 1px 1px rgba(12, 13, 14, 0.025);
}

.right-shadow {

}

.animate {
    transition: margin linear 0.5s;
}

.margin-left-300 {
    margin-left: 300px;
}

.margin-left-0 {
    margin-left: 0;
}

.black-color {
    color: #000;
}