<div class="component-container" style="background-color: orange">
    <div class="container-fluid" style="margin-top: 15px;">
        <div class="row">
            <div class="col-8">
                <app-std-timetable [timetable]="timetable"></app-std-timetable>
            </div>
            <div class="col-4">
                <app-std-dashboard-absences></app-std-dashboard-absences>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top: 15px;">
        <div class="row">
            <div class="col-4">
                <app-std-dashboard-wiki></app-std-dashboard-wiki>
            </div>
            <div class="col-4">
                <app-std-dashboard-notes></app-std-dashboard-notes>
            </div>
            <div class="col-4">
                <app-std-dashboard-homework></app-std-dashboard-homework>
            </div>
        </div>
    </div>
</div>