<div class="component-container" style="background-color: orange">
    <div class="container-fluid col">
        <div class="row align-items-center">
            <div class="col hidden-sm-down"></div>
            <div class="col-12 col-md-4 text-center">
                <h1 style="margin-top: 32px">404: Page not found</h1>
                <h2>Die gesuchte Seite wurde nicht gefunden</h2>
                <button style="margin-top: 32px" class="btn btn-primary" routerLink="/">Home</button>
            </div>
            <div class="col hidden-sm-down"></div>
        </div>
    </div>
</div>